.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display-info-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}

.aadhar-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aadhar-card table {
  width: 100%;
}

.aadhar-card table td {
  padding: 10px 0;
}

.aadhar-card table td:first-child {
  width: 30%;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .display-info-container {
    max-width: 100%;
  }
}
